{% extends 'base.html.twig' %}

{% block body %}

<h1 class="titles mt-5"> {{name}} </h1>
    <div class="col-sm-4 col-md-4 col-lg-4 mb-3">
    <img class="card-img-top" style="width: 30ch" src="{{ continent.image }}">
    </div>
<div class="container">

    {% for country in countries %}
    <div class="lien">
        <a href="{{ path('articles',{slug:country.slug})}}"> <div>{{ country.name }}</div> </a>
    </div>
    {% endfor %}

</div>

{% endblock %}