
<div class="container-fluid footer mt-5 fixed-bottom">
    <div class="row">
        <div class="col-sm col-md col-lg"></div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <a href="#">Mentions légales et confidentialité</a>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <a href="#">Charte utilisateur</a>
        </div>
    <div class="col-sm col-md col-lg">
        Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
    </div>

        <div class="col-sm col-md col-lg"></div>
    </div>
</div>



