/* ARTICLE */

/* Style général article (alignement, épaisseur typo */
.article{
    text-align: center;
    font-weight: lighter;
}

/* Couleur catégorie, tags et user */
.category,
.tags,
.user{
    color: #76b7cc;
}

/* Taille catégorie */
.category{
    font-size: 6em;
}

/* Taille tags */
.tags{
    font-size: 1.5em;
}

/* Taille credit */
.credit{
    font-size: 0.8em;
}

/* Style contenu (taille et alignement */
.content{
    font-size: 1.3em;
    text-align: justify;
}


/* COMMENTAIRES */

/* Style cases commentaire */
.comments{
    background-color: white;
    color: #616161;
    text-align: justify;
    width: 80%;
    margin: auto;
}

/* Style created_at */
.created_at{
    text-align: right;
    font-size: 0.7em;
    font-style: italic;
}

/* Style username */
.username{
    text-align: center;
}

/* Font color white */
.white{
    color: white;
}

/* Center */
.center{
    margin: auto;
}

.separation{
    background-color: white;
    height: 2px;
    width: 30%;
    margin: auto;
}

