/* ARTICLE */

/* Style général article (alignement, épaisseur typo */
.article{
    text-align: center;
    font-weight: lighter;
}

/* Couleur catégorie, tags et user */
.category,
.tags,
.user{
    color: #76b7cc;
}

/* Taille catégorie */
.category{
    font-size: 2.3em;
}

/* Taille tags */
.tags{
    font-size: 1.5em;
}

/* Taille credit */
.credit{
    font-size: 0.8em;
}

/* Style contenu (taille et alignement */
.content{
    font-size: 1.3em;
    text-align: justify;
}

/* Remplacement en attendant l'image */
.image{
    background-color: grey;
    height: 400px;
    margin: auto;
}