/* GENERAL */

/* Style body (font, couleur, alignement) */
body{
    font-family: 'Quicksand', sans-serif;
    color: #616161;
}

a{
    color: #616161;
}

/* Style liens:hover (couleur) */
a:hover {
    text-decoration: none;
    color: #e6e6e6;
}


/* CONTENU */

/* Style phrase login */
.right{
    display: flex;
    right: 0;
}

/* TITRES */

/* Style commun au titres (centrés, light, italic, fond gris) */
.titles{
    text-align: center;
    font-style: italic;
    background-color: #f3f3f3;
}

/* Style titre principal (taille et padding) */
h1{
    font-size: 3em;
    padding: 10px;
}

/* Style titre secondaire (taille et padding) */
h2{
    font-size: 2em;
    padding: 8px;
}

h3{
    font-size: 1.5em;
    text-align: center;
}

a .lien{
    color: #616161;
}

.lien a:hover{
    color: #5eb5e0;
}

.lien{
    text-align: center;
}

.logo{
    width: 50%;
}

.map{
    display: none;
}

@media screen and (min-width: 980px) {
    .map{
        display: block;
    }
}

@media screen and (min-width: 780px) and (max-width: 979px) {

    .map{
        display: none;
    }
}


/* FOOTER */

/* Style footer (bg, couleur, taille, position, poid et padding) */
.footer{
    background-color: #5eb5e0;
    color: white;
    font-size: 0.8em;
    text-align: center;
    font-weight: lighter;
    padding: 5px;
}

.footer a{
    color: white;
}



