{% extends 'base.html.twig' %}

{% block body %}

    {% if app.user %}
    <p class="ml-4 mt-4">Connecté en tant que : {{ app.user.username }}</p>
    {% else %}
    <p class="ml-4 mt-4">Vous n'etes pas connecté</p>
    {% endif %}


<h1 class="titles mt-5">The Traveller's Guide to the World</h1>

    <div class="container mt-4">
        <div class="row align-items-center">
            <div class="col-sm-1 col-md-1 col-lg-1"></div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <img src="{{asset("medias/images/logo.svg") }}" alt="Logo du blog" >
            </div>
            <div class="col-sm-7 col-md-7 col-lg-7 ml-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pellentesque ante eu velit cursus scelerisque. In quam leo, blandit eu volutpat eget, placerat eu tortor. Nulla in hendrerit dolor. Phasellus aliquam felis non odio fringilla rutrum. Proin quis augue elementum, varius libero sit amet, faucibus quam. Donec id convallis lectus, vitae consequat eros. Nullam imperdiet purus sodales dui porta luctus. Aliquam laoreet nulla sagittis libero commodo, vel interdum nibh eleifend. Vivamus a malesuada augue. Integer nec rutrum est, id malesuada quam. Donec maximus facilisis justo, vitae dignissim risus pharetra egestas. Duis sed sem sit amet tellus lacinia faucibus sit amet eu quam. Aenean posuere nisl tortor, a accumsan est accumsan ut.</div>
        </div>

    </div>

    <h2 class="titles mt-5">Carte du monde</h2>

    <div class="container">

        {% include 'user/component/map.html.twig' %}

        {% for continent in continents %}
        <div class="lien">
            <a href="{{ path('continent', {name: continent.name}) }}"> <div>{{ continent.name }}</div> </a>
        </div>
        {% endfor %}

    </div>

    <h2 class="titles mt-5">Les derniers articles</h2>

    <div class="mt-5">
        {% include "user/pages/last_articles.html.twig" %}
    </div>

{% endblock %}

